server:
  port: ${SERVER_PORT:9087}

spring:
  application:
    name: vg-ms-assistance

  r2dbc:
    url: r2dbc:postgresql://ep-icy-tree-a4b64iqg-pooler.us-east-1.aws.neon.tech:5432/assistance?sslmode=require
    username: neondb_owner
    password: npg_RitqK8seGb5f
    pool:
      initial-size: 5
      max-size: 20
      max-idle-time: 30m

  webflux:
    cors:
      allowed-origins: "*"
      allowed-methods: "*"
      allowed-headers: "*"
      allow-credentials: false

# External Microservices URLs
external:
  services:
    institution:
      url: ${MS_INSTITUTION:http://localhost:9080}
    student:
      url: ${MS_STUDENT:http://localhost:9081}

springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  webjars:
    prefix: /webjars

logging:
  level:
    pe.edu.vallegrande: DEBUG
    org.springframework.r2dbc: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: "*"
      base-path: /actuator
      cors:
        allowed-origins: "*"
        allowed-methods: "*"
        allowed-headers: "*"
  endpoint:
    health:
      show-details: always
      show-components: always
  health:
    db:
      enabled: true
